<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net471" />
  <package id="Sitecore.Client" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.ContentSearch" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.ExperienceEditor" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.Kernel" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.Owin.Authentication" version="9.2.0" targetFramework="net471" />
</packages>