<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
  <sitecore role:require="Standalone or ContentManagement or XMCloud" security:require="Sitecore">
    <processors>
      <uiGetMasters>
        <processor patch:before="*[@type='Sitecore.Pipelines.GetMasters.GetItemMasters,Sitecore.Kernel']" type="Spe.Integrations.Pipelines.GetItemMasters, Spe" />
      </uiGetMasters>
    </processors>
    <!-- this needs to be in a "z." prefixed config file as item buckets already overwrite this setting without this chaining technique -->
    <commands>

      <!-- rename the old event to fallback -->
      <command name="item:addmaster">
        <patch:attribute name="name">item:addmaster:spefallback</patch:attribute>
      </command>

      <!-- now plug in its place - the command in the class needs to do its job and call fallback if it's not supposed to handle the event -->
      <command name="item:addmaster" type="Spe.Client.Commands.MenuItems.AddMaster, Spe" />

      <!-- this is no longer needed - the uiGetMasters integration is used now through the "z.Spe.config" file
      <command name="item:new">
        <patch:attribute name="type">Spe.Client.Commands.MenuItems.ItemNew, Spe</patch:attribute>
      </command>
      -->
    </commands>
  </sitecore>
</configuration>
