<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <powershell>
      <userAccountControl>
        <gates>
          <gate name="ItemSave">
            <patch:attribute name="token">Permissive</patch:attribute>
          </gate>
          <gate name="ISE">
            <patch:attribute name="token">Permissive</patch:attribute>
          </gate>
          <gate name="Console">
            <patch:attribute name="token">Permissive</patch:attribute>
          </gate>
        </gates>
        <tokens>
          <token patch:before="*[@name='Default']" name="Permissive" expiration="00:00:00" elevationAction="Allow"/>
        </tokens>
      </userAccountControl>
      <services>
        <restfulv2 enabled="false" requireSecureConnection="false">
            <patch:attribute name="enabled">true</patch:attribute>
        </restfulv2>
        <restfulv1 enabled="false" requireSecureConnection="false">
            <patch:attribute name="enabled">true</patch:attribute>
        </restfulv1>
        <remoting enabled="false" requireSecureConnection="false">
          <patch:attribute name="enabled">true</patch:attribute>
          <authorization>
            <add Permission="Allow" IdentityType="User" Identity="sitecore\admin" />
          </authorization>
        </remoting>
        <fileDownload enabled="false" requireSecureConnection="false">
          <patch:attribute name="enabled">true</patch:attribute>
        </fileDownload>
        <fileUpload enabled="false" requireSecureConnection="false">
          <patch:attribute name="enabled">true</patch:attribute>
        </fileUpload>
        <mediaDownload enabled="false" requireSecureConnection="false">
          <patch:attribute name="enabled">true</patch:attribute>
        </mediaDownload>
        <mediaUpload enabled="false" requireSecureConnection="false">
          <patch:attribute name="enabled">true</patch:attribute>
        </mediaUpload>
        <handleDownload enabled="true" requireSecureConnection="false">
          <patch:attribute name="enabled">true</patch:attribute>
        </handleDownload>
      </services>
    </powershell>
  </sitecore>
</configuration>
