######## GENERAL IGNORES #######

# ignore logs, OS cache files
*.log
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

######## GENERAL .NET IGNORES ########

# Ignore binaries in the source
src/*/bin
src/*/obj
src/*/license.xml

# Ignore user-scoped solution and project settings
*.user
*.suo
.vs/

# NuGet packages
packages/*
!packages/repositories.config
Build/*.nupkg

# Docker related files
data/*
deploy/*

# Sitecore
/Website/
/Database/
/Databases/
/Data/*/
/Data/*
!/Data/packages/
/Data/serialization/
/Data/serialization/security/
web.Debug.config
web.Release.config
Tests/
/releases/

# Project Split
Spe/bin/
Spe.Sitecore8/bin/
Spe/obj/
Spe.Sitecore8/obj/
Spe.Sitecore92/obj/
Data/serialization/
.vs/config/applicationhost.config

# Temporary build folder
_Deploy

# Ignore top-level packages folder, but not others.
packages
!*/**/packages

# User files
deploy.user.json
!deploy.user.json.sample
UserConfiguration/**/*.config
.vs/
Spe/Data/Unicorn/SPE/Scripts/Script Library/Script Library/X-Demo/
Spe/Data/Unicorn/SPE/Scripts/Script Library/Script Library/X-Demo\.yml

Spe/Data/Translations/**/*.csv
/docker-compose.override.yml
node_modules/
