<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="analytics"
         connectionString="metadata=res://*/SitecoreAnalytics.csdl|res://*/SitecoreAnalytics.ssdl|res://*/SitecoreAnalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Sitecore_analytics_65;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>