<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<SitecorePath>C:\inetpub\wwwroot\Console\Website\</SitecorePath>
		<LibrariesPath>C:\inetpub\wwwroot\Console\Libraries\</LibrariesPath>
	</PropertyGroup>
</Project>