version: "2.4"

services:
  monitor:
    image: rahnemann/windows-hosts-writer:1.1-nanoserver-${NANOSERVER_VERSION}
    volumes:
      - C:\windows\system32\drivers\etc:C:\driversetc
      - source: '\\.\pipe\docker_engine'
        target: '\\.\pipe\docker_engine'
        type: npipe
  cm:
    entrypoint: powershell.exe -Command "& C:\\startup\\startup.ps1"
    volumes:
      - .\startup:C:\startup
      - C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\Common7\IDE\Remote Debugger:C:\remote_debugger:ro