        #Databases{
        position: relative;
        left: 4px;
        top: 4px;
        right: 4px;
        width: 97%;
        margin-bottom: 7px;
        }

        /* Sitecore 7.0 */

        .scScrollbox {
        background: white;
        height: 100%;
        overflow: auto;
        border-top: solid 1px #B4B4B4;
        border-left: solid 1px #B4B4B4;
        border-bottom: solid 1px white;
        border-right: solid 1px white;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        }

        .ff .scScrollbox {
        min-height: 50px !important;
        }
        .scScrollboxStretchAbsolute {
        background: white;
        overflow: auto;
        border-top: solid 1px #B4B4B4;
        border-left: solid 1px #B4B4B4;
        border-bottom: solid 1px white;
        border-right: solid 1px white;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 4px;
        }

        .scStretchAbsolute {
        position: absolute !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        }

        .scStretch {
        width: 100%;
        height: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        }
        .scTabs {
        border-bottom: 0px;
        }
        .scGalleryContent13 {
        position: absolute;
        top: 0;
        bottom: 13px;
        right: 0;
        left: 0;
        overflow: auto;
        }
        .scGalleryBottom13 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 13px;
        }
