@import url("flex.css");

html { overflow-y: hidden; }

.done {
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: greenPulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: greenPulse;
}

form > div.scFlexColumnContainer.scStretch {
    height: 100%
}

.status {
    color: black;
    display: block;
    margin-bottom: 6px;
    font: 8pt tahoma;
}

#Title {
    display: block;
    font: 9pt Tahoma;
    margin-bottom: 6px;
    margin-top: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#Copyright {
    float: left;
    margin-top: 4px;
}

.qtip { max-width: 355px; }

#PromoLiteral { display: none; }

#Result_ { display: none; }

#Promo {
    border-top: #E3E3E3 solid 1px;
    bottom: 4px;
    color: #CBCDCB;
    display: block;
    float: right;
    left: 0px;
    position: absolute;
    right: 0px;
}

#HeaderTextContainer { display: inline-block; }

.DialogHeader {
    background: #f0f0f0;
    border-bottom: solid 1px #dfdfdf;
    color: black;
    font: normal 11pt tahoma;
    height: 34px;
    line-height: 34px;
    padding-bottom: 6px;
    padding-top: 8px;
    border-bottom: solid 1px #dfdfdf;
}

.DialogHeaderDescription {
    color: white;
}

#DialogHeader { padding: 0 0 4px 6px; }

#Promo a { color: #ABADAB; }

.timeRemaining {
    display: inline-block;
    margin-top: 3px;
}

.operation {
    display: inline-block;
    margin-top: 3px;
}

#AbortButton, #OkButton {
    display: block;
    float: right;
    height: 24px;
    margin-right: 4px;
    margin-top: 4px;
    padding: 0px 8px;
    vertical-align: middle;
}

a#ViewButton {
    color: green;
    display: none;
    float: left;
    margin: auto;
    padding: 8px 20px;
    text-decoration: underline;
    width: 200px;
}

a#ViewErrorsButton {
    color: red;
    display: none;
    float: left;
    margin: auto;
    padding: 8px 20px;
    text-decoration: underline;
    width: 200px;
}

@keyframes greenPulse {
    from { box-shadow: 0 0 19px #fff; }

    50% { box-shadow: 0 0 18px #06B025; }

    to { box-shadow: 0 0 19px #fff; }
}

@-webkit-keyframes greenPulse {
    from { -webkit-box-shadow: 0 0 19px #fff; }

    50% { -webkit-box-shadow: 0 0 19px #06B025; }

    to { -webkit-box-shadow: 0 0 19px #fff; }
}

.progressbar_bg_middle {
    background-image: url(../Assets/bg_middle.gif);
    background-repeat: repeat-x;
    overflow: hidden;
}

.progressbar_bg_right {
    background-image: url(../Assets/bg_right.gif);
    background-position: right;
    background-repeat: no-repeat;
}

.progressbar_bg_left {
    background-image: url(../Assets/bg_left.gif);
    background-position: left;
    background-repeat: no-repeat;
    padding: 1px;
}

.progressbar_fg {
    background-image: url(../Assets/fg_middle.gif);
    background-repeat: repeat-x;
    overflow: hidden;
    width: 0%;
}

.progressbar_fg_right {
    background-image: url(../Assets/fg_right.gif);
    background-position: right;
    background-repeat: no-repeat;
}

.progressbar_fg_left {
    background-image: url(../Assets/fg_left.gif);
    background-position: left;
    background-repeat: no-repeat;
    height: 14px;
}

.progressbar_highlight {
    background-image: url(../Assets/highlight.png);
    height: 14px;
    margin-left: -120px;
    width: 120px;
}

.progressbar_highlight_ind {
    background-image: url(../Assets/ind-highlight.png);
    height: 14px;
    margin-left: -120px;
    width: 120px;
}

.scDialogContentContainer { padding: 4px 22px 4px 22px !important; }

.scFormDialogFooter {
    border-top: #E3E3E3 solid 1px;
    bottom: 4px;
    color: #CBCDCB;
    display: block;
    float: right;
    height: 40px;
    left: 0px;
    padding: 6px 16px 0;
    position: absolute;
    right: 0px;
}

#HeaderIconContainer {
    float: left;
    margin-top: 0px;
    padding: 8px;
}

#Promo.promoArea { border: 0px; }

.scDialogHeader.psTextResults { display: none; }

#ValuePanelContainer { background-color: white; }