<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="item:executescript"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.MenuItems.ExecutePowerShellScript,Cognifide.PowerShell" />
      <command name="item:contextconsole"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.MenuItems.ExecutePowerShellConsole,Cognifide.PowerShell" />
      <command name="item:scriptlibrary"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.MenuItems.ScriptLibraryMenuItem,Cognifide.PowerShell" />
      <command name="powershell:startmenuaction"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.MenuItems.ScriptLibraryMenuItem,Cognifide.PowerShell" />
      <command name="item:editscript"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.MenuItems.EditPowerShellScript,Cognifide.PowerShell" />
      <command name="ise:executefieldeditor"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.ExecuteFieldEditor,Cognifide.PowerShell" />
      <command name="ise:save" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:saveas" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:execute" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:open" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:run" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:abort" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.AbortQueryState,Cognifide.PowerShell" />
      <command name="ise:reload"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.ItemDefinedQueryState,Cognifide.PowerShell" />
      <command name="ise:editsettings"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.EditIseSettings,Cognifide.PowerShell" />
    </commands>
    <settings>
      <setting name="Cognifide.PowerShell.CommandWaitMillis" value="25" />
      <setting name="Cognifide.PowerShell.InitialPollMillis" value="100" />
      <setting name="Cognifide.PowerShell.MaxmimumPollMillis" value="5000" />
      <setting name="Cognifide.PowerShell.PersistentSessionExpirationMinutes" value="30" />
      <setting name="Cognifide.PowerShell.SerializationSizeBuffer" value="5KB" />
    </settings>
    <ui>
      <references>
        <reference id="powershell">/bin/Cognifide.PowerShell.dll</reference>
      </references>
    </ui>
    <controlSources>
      <source mode="on" namespace="Cognifide.PowerShell.SitecoreIntegrations.Controls" assembly="Cognifide.PowerShell" />
    </controlSources>
    <powershell>
      <workingDatabase>
        <scriptLibrary>master</scriptLibrary>
        <settings>master</settings>
        <rules>master</rules>
      </workingDatabase>
      <integrationPoints>
        <contentEditorContextMenu name="Content Editor Context Menu" creationScript="Development/Integration libraries maintenance/Content Editor Context Menu/Create Libraries">Content Editor/Context Menu</contentEditorContextMenu>
        <contentEditorGutters name="Content Editor Gutter" creationScript="Development/Integration libraries maintenance/Content Editor Gutter/Create Libraries">Content Editor/Gutters</contentEditorGutters>
        <contentEditorRibbon name="Content Editor Ribbon" creationScript="Development/Integration libraries maintenance/Content Editor Ribbon/Create Libraries">Content Editor/Ribbon</contentEditorRibbon>
        <controlPanel name="Control Panel" creationScript="Development/Integration libraries maintenance/Control Panel/Create Libraries">Control Panel</controlPanel>

        <functions name="Shared Functions" creationScript="Development/Integration libraries maintenance/Functions/Create Libraries">Functions</functions>
        <listViewExport name="List View Exporters" creationScript="Development/Integration libraries maintenance/List View Exporters/Create Libraries">Internal/List View/Export</listViewExport>
        <listViewRibbon name="List View Ribbon Actions" creationScript="Development/Integration libraries maintenance/List View Ribbon Actions/Create Libraries">Internal/List View/Ribbon</listViewRibbon>
        <pipelineLoggedIn name="Logged In Pipeline" creationScript="Development/Integration libraries maintenance/Logged In Pipeline/Create Libraries">Pipelines/LoggedIn</pipelineLoggedIn>
        <pipelineLoggingIn name="Logging in Pipeline" creationScript="Development/Integration libraries maintenance/Logging in Pipeline/Create Libraries">Pipelines/LoggingIn</pipelineLoggingIn>
        <pipelineLogout name="Logout Pipeline" creationScript="Development/Integration libraries maintenance/Logout Pipeline/Create Libraries">Pipelines/Logout</pipelineLogout>
        <toolbox name="Toolbox" creationScript="Development/Integration libraries maintenance/Toolbox/Create Libraries">Toolbox</toolbox>
        <startMenuReports name="Start Menu Reports" creationScript="Development/Integration libraries maintenance/Start Menu Reports/Create Libraries">Reports</startMenuReports>
	<eventHandlers name="Event Handlers" creationScript="Development/Integration libraries maintenance/Event Handlers/Create libraries for all events">Event Handlers</eventHandlers>
      </integrationPoints>
      <commandlets>
        <add Name="Built-in Commandlets" type="*, Cognifide.PowerShell" />
      </commandlets>
      <translation>
        <ignoredFields>
          <field>__Archive date</field>
          <field>__Archive Version date</field>
          <field>__Lock</field>
          <field>__Owner</field>
          <field>__Page Level Test Set Definition</field>
          <field>__Reminder date</field>
          <field>__Reminder recipients</field>
          <field>__Reminder text</field>
          <!--field>__Security</field-->
        </ignoredFields>
      </translation>
    </powershell>
    <pipelines>
      <getLookupSourceItems>
        <processor
          patch:before="*[@type='Sitecore.Pipelines.GetLookupSourceItems.ProcessQuerySource, Sitecore.Kernel']"
          type="Cognifide.PowerShell.SitecoreIntegrations.Processors.ScriptedDataSource, Cognifide.PowerShell" />
      </getLookupSourceItems>
      <getRenderingDatasource>
        <processor
          patch:before="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"
          type="Cognifide.PowerShell.SitecoreIntegrations.Processors.ScriptedRenderingDataSourceRoots, Cognifide.PowerShell" />
      </getRenderingDatasource>
      <resolveRenderingDatasource>
        <processor type="Cognifide.PowerShell.SitecoreIntegrations.Processors.ScriptedRenderingDataSourceResolve, Cognifide.PowerShell" />
      </resolveRenderingDatasource>
      <preprocessRequest>
        <processor type="Cognifide.PowerShell.SitecoreIntegrations.Processors.RewriteUrl, Cognifide.PowerShell" patch:before="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']" />
      </preprocessRequest>
    </pipelines>
    <processors>
      <loggingin argsType="Sitecore.Pipelines.LoggingIn.LoggingInArgs">
        <!-- Pipeline to run scripts while the user is logging in. -->
        <processor patch:after="processor[position()=last()]" mode="on" type="Cognifide.PowerShell.Pipelines.LoggingIn.LoggingInScript, Cognifide.PowerShell" />
      </loggingin>
      <loggedin argsType="Sitecore.Pipelines.LoggedIn.LoggedInArgs">
        <!-- Pipeline to run scripts after the user is logged in. -->
        <processor patch:after="processor[position()=last()]" mode="on" type="Cognifide.PowerShell.Pipelines.LoggedIn.LoggedInScript, Cognifide.PowerShell" />
      </loggedin>
      <logout argsType="Sitecore.Pipelines.Logout.LogoutArgs">
        <!-- Pipeline to run scripts when the user logs out. -->
        <processor  patch:after="*[@type='Sitecore.Pipelines.Logout.CheckModified, Sitecore.Kernel']" mode="on" type="Cognifide.PowerShell.Pipelines.Logout.LogoutScript, Cognifide.PowerShell" />
      </logout>
    </processors>
    <events>
      <event name="item:saved">
        <handler type="Cognifide.PowerShell.PowerShellIntegrations.Modules.ModuleMonitor, Cognifide.PowerShell" method="OnItemSaved" />
      </event>
      <event name="item:saved:remote">
        <handler type="Cognifide.PowerShell.PowerShellIntegrations.Modules.ModuleMonitor, Cognifide.PowerShell" method="OnItemSavedRemote" />
      </event>
      <event name="item:saving">
        <handler type="Cognifide.PowerShell.PowerShellIntegrations.Modules.ModuleMonitor, Cognifide.PowerShell" method="OnItemSaving" />
      </event>
    <!--
      <event name="item:added">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:added:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:copied">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:copied:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:copying">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:created">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:created:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:creating">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:deleted">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:deleted:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:deleting">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:locked">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:moved">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:moved:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:moving">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:renamed">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:renamed:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:saved">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:saved:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:saving">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:sortorderchanged">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:sortorderchanged:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:templateChanged">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:unlocked">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:versionAdded">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:versionAdded:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:versionAdding">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:versionRemoved">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:versionRemoved:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:versionRemoving">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
    -->
    </events>
  </sitecore>                                                                                     
</configuration>