<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="item:executescript"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.MenuItems.ExecutePowerShellScript,Cognifide.PowerShell" />
      <command name="item:contextconsole"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.MenuItems.ExecutePowerShellConsole,Cognifide.PowerShell" />
      <command name="item:scriptlibrary"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.MenuItems.ContentEditorContextMenuItem,Cognifide.PowerShell" />
      <command name="powershell:reports"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.MenuItems.ReportsScriptLibraryMenuItem,Cognifide.PowerShell" />
      <command name="item:editscript"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.MenuItems.EditPowerShellScript,Cognifide.PowerShell" />
      <command name="ise:executefieldeditor"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.ExecuteFieldEditor,Cognifide.PowerShell" />
      <command name="ise:save" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:saveas" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:execute" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:open" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:run" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:abort" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.AbortQueryState,Cognifide.PowerShell" />
      <command name="ise:reload"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.ItemDefinedQueryState,Cognifide.PowerShell" />
      <command name="ise:editsettings"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.EditIseSettings,Cognifide.PowerShell" />
      <command name="ise:rebuildcontrolpanel" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RebuildControlPanelIntegration,Cognifide.PowerShell" />
      <command name="ise:toggleterminal" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.ToggleContextTerminal,Cognifide.PowerShell" />
      <command name="ise:togglecontextmenu" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.ToggleContextMenu,Cognifide.PowerShell" />
    </commands>
    <settings>
      <setting name="Cognifide.PowerShell.CommandWaitMillis" value="25" />
      <setting name="Cognifide.PowerShell.InitialPollMillis" value="100" />
      <setting name="Cognifide.PowerShell.MaxmimumPollMillis" value="5000" />
      <setting name="Cognifide.PowerShell.SerializationSizeBuffer" value="5KB" />
    </settings>
    <ui>
      <references>
        <reference id="powershell">/bin/Cognifide.PowerShell.dll</reference>
      </references>
    </ui>
    <controlSources>
      <source mode="on" namespace="Cognifide.PowerShell.SitecoreIntegrations.Controls" assembly="Cognifide.PowerShell" />
    </controlSources>
    <powershell>
      <commandlets>
        <add Name="Built-in Commandlets" type="*, Cognifide.PowerShell" />
      </commandlets>
    </powershell>
    <pipelines>
      <getLookupSourceItems>
        <processor
          patch:before="*[@type='Sitecore.Pipelines.GetLookupSourceItems.ProcessQuerySource, Sitecore.Kernel']"
          type="Cognifide.PowerShell.SitecoreIntegrations.Processors.ScriptedDataSource, Cognifide.PowerShell" />
      </getLookupSourceItems>
      <getRenderingDatasource>
        <processor
          patch:before="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"
          type="Cognifide.PowerShell.SitecoreIntegrations.Processors.ScriptedRenderingDataSourceRoots, Cognifide.PowerShell" />
      </getRenderingDatasource>
      <resolveRenderingDatasource>
        <processor type="Cognifide.PowerShell.SitecoreIntegrations.Processors.ScriptedRenderingDataSourceResolve, Cognifide.PowerShell" />
      </resolveRenderingDatasource>
    </pipelines>
    <!--events>
      <event name="item:added">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:added:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:copied">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:copied:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:copying">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:created">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:created:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:creating">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:deleted">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:deleted:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:deleting">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:locked">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:moved">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:moved:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:moving">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:renamed">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:renamed:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:saved">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:saved:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:saving">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:sortorderchanged">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:sortorderchanged:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:templateChanged">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:unlocked">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:versionAdded">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:versionAdded:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:versionAdding">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:versionRemoved">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:versionRemoved:remote">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
      <event name="item:versionRemoving">
        <handler type="Cognifide.PowerShell.SitecoreIntegrations.Tasks.ScriptedItemEventHandler, Cognifide.PowerShell" method="OnEvent" />
      </event>
    </events-->
  </sitecore>                                                                                     
</configuration>