<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="item:executescript"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.ExecutePowerShellScript,Cognifide.PowerShell" />
      <command name="item:contextconsole"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.ExecutePowerShellConsole,Cognifide.PowerShell" />
      <command name="item:scriptlibrary"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.ScriptLibraryMenuItem,Cognifide.PowerShell" />
      <command name="item:editscript"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.EditPowerShellScript,Cognifide.PowerShell" />
      <command name="ise:executefieldeditor"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.ExecuteFieldEditor,Cognifide.PowerShell" />
      <command name="ise:save" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:saveas" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:execute" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:open" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:run" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:reload"
               type="Cognifide.PowerShell.SitecoreIntegrations.Commands.ItemDefinedQueryState,Cognifide.PowerShell" />
      <command name="sheer:input" type="Cognifide.PowerShell.SitecoreIntegrations.Commands.Sheer.GetInput,Cognifide.PowerShell" />

    </commands>
    <settings>
      <setting name="Cognifide.PowerShell.CommandWaitMillis" value="25" />
      <setting name="Cognifide.PowerShell.InitialPollMillis" value="100" />
      <setting name="Cognifide.PowerShell.MaxmimumPollMillis" value="5000" />
      <setting name="Cognifide.PowerShell.SerializationSizeBuffer" value="5KB" />
    </settings>
    <powershell>
      <commandlets>
        <add Name="Built-in Commandlets" type="*, Cognifide.PowerShell" />
      </commandlets>
    </powershell>
    <pipelines>
      <getLookupSourceItems>
        <processor
          patch:before="*[@type='Sitecore.Pipelines.GetLookupSourceItems.ProcessQuerySource, Sitecore.Kernel']"
          type="Cognifide.PowerShell.SitecoreIntegrations.Processors.ScriptedDataSource, Cognifide.PowerShell" />
      </getLookupSourceItems>
      <getRenderingDatasource>
        <processor
          patch:before="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"
          type="Cognifide.PowerShell.SitecoreIntegrations.Processors.ScriptedRenderingDataSourceRoots, Cognifide.PowerShell" />
      </getRenderingDatasource>
      <resolveRenderingDatasource>
        <processor type="Cognifide.PowerShell.SitecoreIntegrations.Processors.ScriptedRenderingDataSourceResolve, Cognifide.PowerShell" />
      </resolveRenderingDatasource>
    </pipelines>
  </sitecore>
</configuration>