.status {
    display: block;
    margin-bottom: 6px;
}

#Title {
    display: block;
    margin-bottom: 6px;
}

#Copyright {
    float: left;
    margin-left: 6px;
    margin-top: 4px;
}

.qtip { max-width: 355px; }

#Result_ { display: none; }

#Promo {
    border-top: #E3E3E3 solid 1px;
    bottom: 4px;
    color: #CBCDCB;
    display: block;
    float: right;
    left: 0;
    position: absolute;
    right: 0;
}

#HeaderTextContainer { display: inline-block; }

#Promo a { color: #ABADAB; }

.timeRemaining {
    display: inline-block;
    margin-top: 3px;
}

.operation {
    display: inline-block;
    margin-top: 3px;
}

#AbortButton, #OkButton {
    display: block;
    float: right;
    height: 24px;
    margin-right: 4px;
    margin-top: 4px;
    padding: 0 8px;
    vertical-align: middle;
}

a#ViewButton {
    color: green;
    display: none;
    float: left;
    margin: auto;
    padding: 0 20px;
    text-decoration: underline;
    width: 200px;
}

a#ViewErrorsButton {
    color: red;
    display: none;
    float: left;
    margin: auto;
    padding: 0 20px;
    text-decoration: underline;
    width: 200px;
}

#ValuePanel #Progress {
    padding-top: 5px;
}

.ui-progressbar {
    background-color: #e3e3e3;
    border: 1px solid #c6c3da;
    border-radius: 5px;
    box-shadow: 0 0 5px #d2c6c6;
    height: 22px;
}

.ui-progressbar-value {
    background-color: green;
    height: 100%;
    border-radius: 5px;
}

.ui-progressbar-indeterminate.ui-progressbar {
    background-color: green;
}

.ui-progressbar-indeterminate .ui-progressbar-value {
    opacity: 0.25;
    background: url(images/indeterminate.gif);
}
