.scFormDialogFooter .footerOkCancel {
  white-space: nowrap;
  position: relative;
  right: 0;
  text-align: right;
  float: right;
  display: block;
  margin-right: 12px;
}

.scFormDialogHeader {
  min-height: 40px;
  border-bottom: solid 1px #dbdbdb;
  display: none;
}

.scFormDialogHeader div {
  padding-top: 12px;
}

.scFormDialogFooter {
  height : 44px;
}

.scHorizontalLine {
  display: none;
}

.ff .scScrollbox, .scScrollbox {
    min-height: 50px !important;
}        
