body { overflow: hidden; }

#Content > tbody > tr > td {
    vertical-align:top;
    height: 100%;
}

#ResultsSplitter + tr > td {
    height: 100%;
}

#Databases { 
	border: solid 1px ButtonShadow;
	min-width: 100px;
	border: 1px solid #cccccc;
}

#StatusBar {
    height: 20px;
    margin: 2px 5px 0 8px;
    overflow: hidden;
    padding: 0 0 3px 0;
}

.status-bar-panel {
    padding: 2px 2px;
    border: solid 1px silver;
    background-color: white;
}

.status-bar-text { 
	overflow: hidden; 
	height: 14px;
}

.status-bar-right {
    width: 50px;
    float: right;
    margin-left: 2px;
}

.status-bar-script {
    width: 500px;
    float: right;
    margin-left: 2px;
}

.status-bar-left {
    float: left;
    width: 80px;
    margin-right: 2px;
    padding-left: 3px;
}

.ui-dialog { z-index: 1; }

#ajax-dialog {
    display: none;
    overflow-y: auto;
    overflow-x: visible;
    word-wrap: break-word;
    border: 0;
    padding: 4px 4px 0 4px;
    margin: 4px 4px 4px 20px;
}

.codeSnippetContainerCodeContainer {
    border-left: solid 1px #939393;
    border-bottom: solid 1px #939393;
    border-right: solid 1px #939393;
    border-top: solid 1px #939393;
    clear: both;
    margin-bottom: 12px;
    position: relative;
    top: -1px;
}

.codeSnippetContainerCode {
    width: auto;
    margin: 0;
    padding-right: 21px;
    padding-left: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: monospace;
}

.example-description { margin-bottom: 18px; }

.ui-widget-content { border-color: #707070; }

.ui-widget-content h1.title {
    font-size: 2.769em;
    font-weight: normal;
    font-family: 'Segoe UI Light', 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    color: #707070;
}

.ui-widget-content h1, .ui-widget-content h2 {
    font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #2a2a2a;
    font-size: 1.692em;
    -webkit-margin-after: 0.2em;
    margin-top: 16px;
}

.ui-widget-content h3,
.ui-widget-content h4, .ui-widget-content h5 {
    font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #2a2a2a;
    font-size: 1.386em;
    -webkit-margin-after: 0.2em;
    margin-top: 16px;
}

.ui-widget-content ul li {
    /* margin-bottom: 1.2em; */
    list-style-position: inside;
    list-style-type: disc;
}

.ui-widget-content table, .ui-widget-content th, .ui-widget-content td {
    border: 1px solid #bbb;
    padding: 4px;
    border-collapse: collapse;
    font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin-top: 1em;
}

#ajax-dialog a {
    text-decoration: underline;
    color: #0095c4;
}

.ui-dialog { margin-left: 40px !important; }

.ui-dialog-titlebar { display: none; }

a.ps-link {
    color: #0095c4;
    text-decoration: underline;
}

.ui-tooltip, .arrow:after {
    background: #012456;
    border: 2px solid #fcefa1;
    display: block;
    position: absolute;
    margin: 6px;
}

.ui-icon-info { background: url(/temp/IconCache/PowerShell/16x16/PowerShell.png) center center; }

.ui-state-highlight {
    margin-top: 20px;
    margin-bottom: 6px;
    padding: 0.7em;
}

#TipOfTheSession {
    width: 400px;
    padding-right: 30px;
    padding-left: 40px;
    float: left;
}

.tip-title {
    margin: 1px 0 8px 0;
}

#RefreshHint {
    float: right;
    margin-right: 1px;
    margin-top: 1px;
}

.ui-tooltip {
    padding: 10px 20px;
    color: #fcefa1;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px #012456;
}

#HelpClose, #ResultsClose {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	border-bottom-left-radius:9px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:16px;
	line-height:16px;
	width:16px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	float: right;
	margin: 1px 4px 0 0; 
}

#HelpClose:hover, #ResultsClose:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

#ResultsClose:active {
	position:relative;
	top:1px;
}

#ResultsSplitter {
    background: url(/sitecore%20modules/PowerShell/Assets/Splitter.png) no-repeat center;
    padding: 0 4px 0 4px;
}


#HelpClose {
    top: 2px;
    right: 20px;
	position:absolute;
	font-size:18px;    
	height:22px;
	line-height:22px;
	width:22px;
}

#HelpClose:active {
	top:4px;
	right:21px;
}
