body
{
    position: absolute;
    bottom: 1px;
}

#Filter label {
    float: left;
    margin-top: 8px;
    margin-right: 8px;
}

.scListView {
    position: relative !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

.progressBar {
    background:#fff;
    color: #012456;
    padding:4px 0;
    width:100%;
    text-align:center;
    position:relative;
    border: 1px solid #ccc;
}

.progressFill {
    background:#012456;
    color:#fff;
    width:51%;
    padding:4px 0;
    position:absolute;
    left:0;
    top:0;
    overflow:hidden;
}

.progressFillText {
}

.scListControl > tbody > tr > td:nth-child(1) {  
    width:8px;
}