.done {
    animation-name: greenPulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}

.status {
    margin-bottom: 6px;
    display: block;
}

#Title {
    margin-bottom: 6px;
    display: block;
}

#Copyright {
    float: left;
    margin-left: 6px;
    margin-top: 4px;
}

.qtip { max-width: 355px; }

#PromoLiteral { display: none; }

#Result_ { display: none; }

#Promo {
    bottom: 4px;
    display: block;
    float: right;
    position: absolute;
    right: 0px;
    left: 0px;
    color: #CBCDCB;
    border-top: #E3E3E3 solid 1px;
}

#HeaderTextContainer { display: inline-block; }

#Promo a { color: #ABADAB; }

.timeRemaining {
    margin-top: 3px;
    display: inline-block;
}

.operation {
    margin-top: 3px;
    display: inline-block;
}

#AbortButton, #OkButton {
    padding: 0px 8px;
    display: block;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
    vertical-align: middle;
    height: 24px;
}

a#ViewButton {
    padding: 0 20px;
    display: none;
    margin: auto;
    float: left;
    color: green;
    text-decoration: underline;
    width: 200px;
}

a#ViewErrorsButton {
    padding: 0 20px;
    display: none;
    margin: auto;
    float: left;
    color: red;
    text-decoration: underline;
    width: 200px;
}

@keyframes greenPulse {
    from { box-shadow: 0 0 19px #fff; }

    50% { box-shadow: 0 0 18px #06B025; }

    to { box-shadow: 0 0 19px #fff; }
}

@-webkit-keyframes greenPulse {
    from { -webkit-box-shadow: 0 0 19px #fff; }

    50% { -webkit-box-shadow: 0 0 19px #06B025; }

    to { -webkit-box-shadow: 0 0 19px #fff; }
}

.progressbar_bg_middle {
    background-image: url(../Assets/bg_middle.gif);
    background-repeat: repeat-x;
    overflow: hidden;
}

.progressbar_bg_right {
    background-image: url(../Assets/bg_right.gif);
    background-repeat: no-repeat;
    background-position: right;
}

.progressbar_bg_left {
    background-image: url(../Assets/bg_left.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding: 1px;
}

.progressbar_fg {
    width: 0%;
    background-image: url(../Assets/fg_middle.gif);
    background-repeat: repeat-x;
    overflow: hidden;
}

.progressbar_fg_right {
    background-image: url(../Assets/fg_right.gif);
    background-repeat: no-repeat;
    background-position: right;
}

.progressbar_fg_left {
    background-image: url(../Assets/fg_left.gif);
    background-repeat: no-repeat;
    background-position: left;
    height: 14px;
}

.progressbar_highlight {
    background-image: url(../Assets/highlight.png);
    margin-left: -120px;
    height: 14px;
    width: 120px;
}

.progressbar_highlight_ind {
    background-image: url(../Assets/ind-highlight.png);
    margin-left: -120px;
    height: 14px;
    width: 120px;
}