html { 
  overflow: hidden;
}
body.ie {
  overflow: hidden;
}

#Copyright {
    float: left;
    margin-top: 2px;
}

.qtip { max-width: 355px; }

#PromoLiteral { display: none; }

#Result_ { display: none; }

#Promo {
    bottom: 4px;
    display: block;
    float: right;
    position: absolute;
    right: 0px;
    left: 0px;
    color: #CBCDCB;
    border-top: #E3E3E3 solid 1px;
}

#Promo a { color: #ABADAB; }

.varTitle {
    margin: 8px 0 4px 2px;
    display: block;
    font-weight: bold;
    float: left;
    clear: both;
    width: 100%;
}

.varHint {
    margin: 2px 0 4px 2px;
    display: block;
    clear: both;
}

.varCheckbox {
    margin-top: 20px;
    float: left;
}

.scContentControl {
    border: solid 1px ButtonShadow;
    padding-left: 2px;
}

.wk .scComboboxEdit { padding-left: 2px; }

.scUserPickerEdit {
    border: solid 1px ButtonShadow;
    padding-left: 2px;
    float: left;
    /* width: 90% !important; */
    position: relative;
    left: 0;
}

.scComboboxEdit, .scDateTimePickerContainer {
    float: left;
    clear: both;
    width: 100%;
}

.scUserPickerButton {
    margin-left: 8px;
    vertical-align: top;
    float: left;
    height: 24px;
}

.EntryGrid {
    background: #e9e9e9;
    white-space: nowrap;
    vertical-align: top;
    height: 100%;
}

.scBottomEdge, .scTopEdge { height: 1px; }

.checkBoxWrapper {
  display: block;
  padding: 24px 0 16px 0;
  float: left;
  clear: both;
}
.scTabPage {
    padding: 12px;
    width: 100%;
}

.scContentControl.treePicker td{
    padding: 2px 0 2px 0;
}

.scContentControl.treePicker{
    padding: 4px 2px 4px 8px;
    height: 220px;
}

.psVarPromptHeaderIcon{
    margin: 6px 16px 4px 0px !important;
}

/* 6.6 Backwards compatibility - copied from 7.2 styles */

.scWizardButtons {
  position: absolute;
  width: 100%;
  bottom: 0;
  /* height:70px; */
  text-align:right;
  white-space: nowrap;
}

.scWizardButtons > .scButton {
  margin-top: 10px;
}

.scWizardPageContainer {
  position: absolute;
  top: 0;
  bottom: 40px;
  width: 100%;
}

.scWizardFormPadding {
  padding: 8px;
  overflow: auto;
}

.scWizardFirstPageLeftPanel, .scWizardLastPageLeftPanel {
  width:164px;
  position:absolute;
  height: 100%;
  background:#123960;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#123960', EndColorStr='#405E7A');
}

.scWizardFirstPageContent, .scWizardLastPageContent {
  margin-left:164px;
  height: 100%;
  overflow: auto;
  padding: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
}

.ie8 .scWizardFormContentForOldIE, .ie9 .scWizardFormContentForOldIE {
  position: absolute;
  top: 66px;
  bottom: 0;
  width: 100%;
}

.scContentControlChecklist {
    border: solid 1px ButtonShadow;
}

.scDatePickerComboBox, .scTimePickerComboBox, .scCombobox.treePicker, .scRadioGroup {
    border: ButtonShadow solid 1px;
}

fieldset label {
  font: 8pt tahoma;
}

fieldset {
  padding: 6px 8px 8px 10px;
}

.psVarPromptHeaderIcon {
  float: right;
  margin-top: 10px;
  margin-right: 5px;
}

.DialogHeader {
  font-weight: bold;
  color: windowtext;
  padding: 4px 4px 4px 8px;
}

.DialogHeaderDescription {
  color: windowtext;
  margin-left: 32px;
  padding-bottom: 4px;
}

.scDialogHeader {
  color: windowtext;
  background: window;
  min-height: 64px;
  border-bottom: 1px solid #8C8A8C;
}

#ValuePanel {
  padding: 8px 0 0 8px !important;
  width: 100%;
  background: #e9e9e9;
  border-bottom: 1px solid #8C8A8C;
  border-top: 1px solid #DEDFDE;
}

.scFormDialogFooter {
  min-height: 40px;
  padding: 6px 16px 0 16px;
  background: #e9e9e9;
  border-top: 1px solid #DEDFDE;
}

.scFormDialogFooter > .scButton {
  margin-top: 4px;
}

.footerOkCancel {
  min-height: initial;
  float:right;
}

.scContentControlTreeListHelp {
  display: none;
}

.scScrollbox {
  border: solid 1px #B4B4B4;
}
.scContentControlSelectedList {
  bottom: 0px;
}

/* Sitecore 7.0 */

.scScrollbox {
  background: white;
  height: 100%;
  overflow: auto;
  border-top: solid 1px #B4B4B4;
  border-left: solid 1px #B4B4B4;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.scScrollboxStretchAbsolute {
  background: white;
  overflow: auto;
  border-top: solid 1px #B4B4B4;
  border-left: solid 1px #B4B4B4;
  border-bottom: solid 1px white;
  border-right: solid 1px white;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 4px;
}

.scStretchAbsolute {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.scStretch {
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

