<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <powershell>
            <trustedScripts>
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Core/Platform/Functions/BaseXlsx -->
                <script name="BaseXlsx" itemId="{56da8e7d-6ca5-4576-b1ed-4edcccc5b0b4}" contentHash="sha256:5ee12de1bbe9e60088c993fdac073fe68d154b8c2ba5bdd29e5f763c165f35bd" trust="Trusted" onHashMismatch="Constrain">
                    <exports>
                        <function>Add-XlsxWorksheet</function>
                        <function>Export-Worksheet</function>
                        <function>New-XlsxWorkbook</function>
                        <function>Write-WorksheetHeader</function>
                    </exports>
                </script>
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Training/Web API and Remoting/Advanced Web API/Web API/ChildrenAsHtml -->
                <script name="ChildrenAsHtml" itemId="{81648ea7-09d5-479d-8e78-d540eee29106}" contentHash="sha256:e3ce7b1e4c7caa9d348db46509d12079128983d7abe42bf0b813be561ad6ffe7" trust="Trusted" onHashMismatch="Constrain" />
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Training/Web API and Remoting/Advanced Web API/Web API/ChildrenAsJson -->
                <script name="ChildrenAsJson" itemId="{28ce9247-7245-424e-90d8-37b487e225fe}" contentHash="sha256:0c6d8525194e2d63518a2d1b8b1f2d7a8eeb52eed4acf8c3641cff6910d25755" trust="Trusted" onHashMismatch="Constrain" />
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Training/Web API and Remoting/Advanced Web API/Web API/ChildrenAsXml -->
                <script name="ChildrenAsXml" itemId="{4cf65bef-c2d9-426d-b117-c16e5bab8245}" contentHash="sha256:e41dadb78c12e6e64164ae6fa9290c2d2768beb67ee312417407064de1022f00" trust="Trusted" onHashMismatch="Constrain" />
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Core/Platform/Functions/Clear-Archive -->
                <script name="Clear-Archive" itemId="{ac863d02-67ff-4614-9925-0b455f3f4df4}" contentHash="sha256:4b9df20cb41aaf5efceeeddccaf917cd4b5ffca4cf09f0b393aa37646e9a9fe0" trust="Trusted" onHashMismatch="Constrain">
                    <exports>
                        <function>Clear-Archive</function>
                    </exports>
                </script>
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Core/Platform/Functions/Compress-Archive -->
                <script name="Compress-Archive" itemId="{22c47b26-223f-4d5a-b760-9bb3c711af9e}" contentHash="sha256:0887bd5aab5c4fc08adae8e73ab51585f5fb6b29004be77337250f64218e35d7" trust="Trusted" onHashMismatch="Constrain">
                    <exports>
                        <function>Compress-Archive</function>
                        <function>New-EntryFromFile</function>
                    </exports>
                </script>
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Core/Platform/Functions/ConvertTo-Xlsx -->
                <script name="ConvertTo-Xlsx" itemId="{8d861616-64dc-4137-bdb8-d8bfd684b3a8}" contentHash="sha256:42160a1b3e495a7ce77290c1d696d912ebc0f20dc22e6afaa09d862439acb230" trust="Trusted" onHashMismatch="Constrain">
                    <exports>
                        <function>ConvertTo-Xlsx</function>
                    </exports>
                </script>
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Core/Platform/Functions/Expand-Archive -->
                <script name="Expand-Archive" itemId="{ff02236b-9284-4c65-8a6d-a8371fe0af3f}" contentHash="sha256:f0045c3dfa796e4e5654f812348b6bcccd85db45b663bd3029f84b99325d0e73" trust="Trusted" onHashMismatch="Constrain">
                    <exports>
                        <function>Expand-Archive</function>
                    </exports>
                </script>
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Core/Platform/Functions/Export-Xlsx -->
                <script name="Export-Xlsx" itemId="{9d84ff3e-fcc5-4600-b89d-d2dac031db57}" contentHash="sha256:511ddb11516231a2b448a31d5debcc06d07b9eb3a4df17e6be6392dc2cc2ef17" trust="Trusted" onHashMismatch="Constrain">
                    <exports>
                        <function>Export-Xlsx</function>
                    </exports>
                </script>
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Core/Platform/Functions/Get-LockedChildItem -->
                <script name="Get-LockedChildItem" itemId="{27cb796a-a23c-4789-a2fc-7d04a876b8dc}" contentHash="sha256:73963e9665eb3e67d10db484f0f86cdedf9cf014ad512928374291d68a2f0377" trust="Trusted" onHashMismatch="Constrain">
                    <exports>
                        <function>Get-LockedChildItem</function>
                    </exports>
                </script>
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Training/Web API and Remoting/Advanced Web API/Web API/HomeAndDescendants -->
                <script name="HomeAndDescendants" itemId="{a9284795-37f9-438f-b3ec-d1c8790620c9}" contentHash="sha256:df7dd5d44cf44738159d9bcd1cc7e937c2513254fa772778bdab9ee72943eefd" trust="Trusted" onHashMismatch="Constrain" />
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Core/Platform/Functions/Invoke-ApiScript -->
                <script name="Invoke-ApiScript" itemId="{f42f88f8-76fb-4158-8acd-cd57722c0351}" contentHash="sha256:4ed45caa5b7a91e42380f1b05fe997643ac1579131a6a9c8a8f2d0025efb1602" trust="Trusted" onHashMismatch="Constrain">
                    <exports>
                        <function>Invoke-ApiScript</function>
                    </exports>
                </script>
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Core/Platform/Functions/Invoke-SqlCommand -->
                <script name="Invoke-SqlCommand" itemId="{9dc741a7-fff1-493d-a3a5-e3964e087a9e}" contentHash="sha256:061a57f312297427103ef75678c4da4d9b36a0aae3372f5dc548f326ce617980" trust="Trusted" onHashMismatch="Constrain">
                    <exports>
                        <function>Invoke-SqlCommand</function>
                    </exports>
                </script>
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Core/Platform/Functions/New-PackagePostStep -->
                <script name="New-PackagePostStep" itemId="{571c3b17-5dd8-452c-bb13-eae87aba7b2d}" contentHash="sha256:ce507fcc08498cb46bda93dfcaebb84c7c6a3a807a5740dab56d55091b284953" trust="Trusted" onHashMismatch="Constrain">
                    <exports>
                        <function>New-PackagePostStep</function>
                    </exports>
                </script>
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Core/Platform/Functions/Resolve-Error -->
                <script name="Resolve-Error" itemId="{7e7c6105-9a15-4864-9bc8-4eb91d0568c7}" contentHash="sha256:ea460c16ffe6cf805cfa708c0717388c8c5d7e51de307aa265907a17224becb9" trust="Trusted" onHashMismatch="Constrain">
                    <exports>
                        <function>Resolve-Error</function>
                    </exports>
                </script>
                <!-- /sitecore/system/Modules/PowerShell/Script Library/SPE/Training/Web API and Remoting/Simple Web API/Web API/TrainingWebApi -->
                <script name="TrainingWebApi" itemId="{129ab3db-3b3a-41b7-9cfb-6b7587650c2e}" contentHash="sha256:810854e361c865329c4e2738973d0138d1170ee631f458ded5c30d45f90d4795" trust="Trusted" onHashMismatch="Constrain" />
            </trustedScripts>
        </powershell>
    </sitecore>
</configuration>