<!--
    Configuration patch installed by Sitecore Docker Tools.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
    xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <hooks>
            <hook type="Sitecore.Diagnostics.HealthMonitorHook, Sitecore.Kernel">
                <patch:delete />
            </hook>
            <hook type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel">
                <patch:delete />
            </hook>
        </hooks>
        <settings>
            <setting name="Counters.Enabled" set:value="false" />
        </settings>
    </sitecore>
</configuration>