<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Configy" version="1.0.0" targetFramework="net48" />
  <package id="Kamsar.WebConsole" version="2.0.1" targetFramework="net48" />
  <package id="MicroCHAP" version="1.2.2.2" targetFramework="net48" />
  <package id="Microsoft.PowerShell.5.1.ReferenceAssemblies" version="1.0.0" targetFramework="net48" />
  <package id="Rainbow" version="2.1.4" targetFramework="net48" />
  <package id="Rainbow.Core" version="2.1.4" targetFramework="net48" />
  <package id="Rainbow.Storage.Sc" version="2.1.4" targetFramework="net48" />
  <package id="Rainbow.Storage.Yaml" version="2.1.4" targetFramework="net48" />
  <package id="Sitecore.Buckets" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.Client" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Linq" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceEditor" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.Logging" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.Mvc" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.Update" version="9.2.0" targetFramework="net48" />
  <package id="Unicorn" version="4.1.6" targetFramework="net48" />
  <package id="Unicorn.Core" version="4.1.6" targetFramework="net48" />
  <package id="Unicorn.Roles" version="4.1.6" targetFramework="net48" />
  <package id="Unicorn.Roles.Core" version="4.1.6" targetFramework="net48" />
  <package id="Unicorn.Users" version="4.1.6" targetFramework="net48" />
  <package id="Unicorn.Users.Core" version="4.1.6" targetFramework="net48" />
</packages>