<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.PowerShell.5.1.ReferenceAssemblies" version="1.0.0" targetFramework="net48" />
  <package id="NewtonSoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Sitecore.Buckets" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.Client" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Linq" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceEditor" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.Logging" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.Mvc" version="9.2.0" targetFramework="net48" />
  <package id="Sitecore.Update" version="9.2.0" targetFramework="net48" />
</packages>