<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        
        <configuration name="Cognifide.PowerShell.Rules" description="Sitecore PowerShell Extensions Rules">
          <targetDataStore physicalRootPath="$(speSourceFolder)\Data\Unicorn\SPE\Rules" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Tags"                    database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/PowerShell" />
            <include name="Experience Button Tags"  database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/PowerShell Experience Buttons" />
            <include name="ISE Tags"                database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/PowerShell ISE" />
            <include name="Rules"                   database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/PowerShell" />
            <include name="Experience Button Rules" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/PowerShell Experience Buttons" />
            <include name="ISE Rules"               database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/PowerShell ISE" />
            <include name="Security Rules"          database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/PowerShell Security" />
            <include name="Definition"              database="master" path="/sitecore/system/Settings/Rules/PowerShell" />
          </predicate>
        </configuration>

        <configuration name="Cognifide.PowerShell.Core" description="Sitecore PowerShell Extensions Core">
          <targetDataStore physicalRootPath="$(speSourceFolder)\Data\Unicorn\SPE\Core" useDataCache="false" singleInstance="true" />
          <predicate name="Core" type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Modules">
              <exclude children="true">
                <except name="PowerShell Console"/>
              </exclude>
            </include>
            <include name="Module" database="master" path="/sitecore/system/Modules/PowerShell">
              <exclude path="Script Library" />
              <exclude path="Settings/Console/Sitecore" />
              <exclude path="Settings/Context/Sitecore" />
              <exclude path="Settings/Default/Sitecore" />
              <exclude path="Settings/ISE/Sitecore" />
              <exclude path="Settings/RemoteAutomation/Sitecore" />
            </include>
            <include name="Applications"           database="core" path="/sitecore/content/Applications/PowerShell" />
            <include name="Dictionary"             database="core" path="/sitecore/system/Dictionary/PowerShell" />
            <include name="Layouts"                database="core" path="/sitecore/layout/Layouts/Applications/PowerShell" />
            <include name="Start Menu ISE"         database="core" path="/sitecore/content/Documents and settings/All users/Start menu/Right/Development Tools/PowerShell ISE" />
            <include name="Start Menu Console"     database="core" path="/sitecore/content/Documents and settings/All users/Start menu/Right/PowerShell Console" />
            <include name="Start Menu Toolbox"     database="core" path="/sitecore/content/Documents and settings/All users/Start menu/Right/PowerShell Toolbox" />
            <include name="Start Menu Reports"     database="core" path="/sitecore/content/Documents and settings/All users/Start menu/Right/Reporting Tools/PowerShell Reports" />
            <include name="Content Editor ISE"     database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Edit Script" />
            <include name="Content Editor Console" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/PowerShell Console" />
            <include name="Context Editor Scripts" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Context PowerShell Scripts" />
            <include name="Launchpad ISE"          database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/ContentEditing/PowerShell ISE" />
            <include name="Tasks"                  database="master" path="/sitecore/system/Tasks/Commands/PowerShellScriptCommand" />
          </predicate>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <!--
              Each include must either include a domain, which includes all roles under that domain,
              or a domain with a role regex pattern to determine specific roles to include under the domain.

              For regex pattern rules, note that the regex applies to the role not including the domain,
              e.g. for "sitecore\foo" the regex pattern is checked against "foo" if the domain is set to "sitecore"
            -->
            <include domain="sitecore" pattern="PowerShell Extensions Remoting"/>
            <!-- Note: you may include the same domain in multiple include elements, with different patterns -->
          </rolePredicate>
        </configuration>

        <configuration name="Cognifide.PowerShell.Scripts" description="Sitecore PowerShell Extensions Script Library" dependencies="Cognifide.PowerShell.Core" >
          <targetDataStore physicalRootPath="$(speSourceFolder)\Data\Unicorn\SPE\Scripts" useDataCache="false" singleInstance="true" />
          <predicate name="Scripts" type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include database="master" path="/sitecore/system/Modules/PowerShell/Script Library/SPE">
               <exclude path="Reporting/Authorable Reports" />
            </include>
          </predicate>
        </configuration>

        <configuration name="Cognifide.PowerShell.AuthorableReports" description="SPE Authorable Reports Templates" dependencies="Cognifide.PowerShell.Core" patch:after="configuration[@name='Cognifide.PowerShell.Core']">
          <targetDataStore physicalRootPath="$(speSourceFolder)\Data\Unicorn\SPE\Authorable Reports" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Modules/PowerShell Authorable Reports" />
            <include name="Script Library" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/SPE/Reporting/Authorable Reports" />
            <include name="Launchpad Reports" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/ContentEditing/PowerShell Reports" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>