<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="item:executescript"
               type="Cognifide.PowerShell.Client.Commands.MenuItems.ExecutePowerShellScript,Cognifide.PowerShell" />
      <command name="item:contextconsole"
               type="Cognifide.PowerShell.Client.Commands.MenuItems.ExecutePowerShellConsole,Cognifide.PowerShell" />
      <command name="item:scriptlibrary"
               type="Cognifide.PowerShell.Client.Commands.MenuItems.ScriptLibraryMenuItem,Cognifide.PowerShell" />
      <command name="powershell:startmenuaction"
               type="Cognifide.PowerShell.Client.Commands.MenuItems.ScriptLibraryMenuItem,Cognifide.PowerShell" />
      <command name="item:editscript"
               type="Cognifide.PowerShell.Client.Commands.MenuItems.EditPowerShellScript,Cognifide.PowerShell" />
      <command name="ise:save" type="Cognifide.PowerShell.Client.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:saveas" type="Cognifide.PowerShell.Client.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:execute" type="Cognifide.PowerShell.Client.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:open" type="Cognifide.PowerShell.Client.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:new" type="Cognifide.PowerShell.Client.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:run" type="Cognifide.PowerShell.Client.Commands.RuntimeQueryState,Cognifide.PowerShell" />
      <command name="ise:abort" type="Cognifide.PowerShell.Client.Commands.AbortQueryState,Cognifide.PowerShell" />
      <command name="ise:reload"
               type="Cognifide.PowerShell.Client.Commands.ItemDefinedQueryState,Cognifide.PowerShell" />
      <command name="ise:editsettingsdropdown"
               type="Cognifide.PowerShell.Client.Commands.EditIseSettingsCombo,Cognifide.PowerShell" />
      <command name="ise:picksessionid"
               type="Cognifide.PowerShell.Client.Commands.GalleryRuntimeQueryState,Cognifide.PowerShell" />
      <command name="item:new">
        <patch:attribute name="type">Cognifide.PowerShell.Client.Commands.MenuItems.ItemNew, Cognifide.PowerShell</patch:attribute>
      </command>
    </commands>
    <typeMappings>
        <Sitecore7>
            <mapping name="IDateConverter" type="Cognifide.PowerShell.Sitecore7.Utility.DateConverter, Cognifide.PowerShell.Sitecore7" />
        </Sitecore7>
        <Sitecore8>
            <mapping name="IDateConverter" type="Cognifide.PowerShell.Sitecore8.Utility.DateConverter, Cognifide.PowerShell.Sitecore8" />
        </Sitecore8>
    </typeMappings>
    <settings>
      <setting name="Cognifide.PowerShell.CommandWaitMillis" value="25" />
      <setting name="Cognifide.PowerShell.InitialPollMillis" value="100" />
      <setting name="Cognifide.PowerShell.MaxmimumPollMillis" value="5000" />
      <setting name="Cognifide.PowerShell.PersistentSessionExpirationMinutes" value="30" />
      <setting name="Cognifide.PowerShell.SerializationSizeBuffer" value="5KB" />
    </settings>
    <ui>
      <references>
        <reference id="powershell">/bin/Cognifide.PowerShell.dll</reference>
      </references>
    </ui>
    <controlSources>
      <source mode="on" namespace="Cognifide.PowerShell.Client.Controls" assembly="Cognifide.PowerShell" />
      <source mode="on" namespace="Cognifide.PowerShell.Client.Applications"
              folder="/sitecore modules/Shell/PowerShell/" deep="true" />
    </controlSources>
    <powershell>
      <workingDatabase>
        <scriptLibrary>master</scriptLibrary>
        <settings>master</settings>
        <rules>master</rules>
      </workingDatabase>
      <integrationPoints>
        <contentEditorContextMenu name="Content Editor Context Menu"
                                  creationScript="Platform/Development/Integration points/Content Editor Context Menu/Create Libraries">
          Content Editor/Context Menu
        </contentEditorContextMenu>
        <contentEditorInsertItem name="Content Editor Insert Item"
                                  creationScript="Platform/Development/Integration points/Content Editor Insert Item/Create Libraries">
          Content Editor/Insert Item
        </contentEditorInsertItem>
        <contentEditorGutters name="Content Editor Gutter"
                              creationScript="Platform/Development/Integration points/Content Editor Gutter/Create Libraries">
          Content Editor/Gutters
        </contentEditorGutters>
        <contentEditorRibbon name="Content Editor Ribbon"
                             creationScript="Platform/Development/Integration points/Content Editor Ribbon/Create Libraries">
          Content Editor/Ribbon
        </contentEditorRibbon>
        <controlPanel name="Control Panel"
                      creationScript="Platform/Development/Integration points/Control Panel/Create Libraries">
          Control Panel
        </controlPanel>
        <functions name="Shared Functions"
                   creationScript="Platform/Development/Integration points/Functions/Create Libraries">
          Functions
        </functions>
        <listViewExport name="List View Exporters"
                        creationScript="Platform/Development/Integration points/List View Exporters/Create Libraries">
          Internal/List View/Export
        </listViewExport>
        <listViewRibbon name="List View Ribbon Actions"
                        creationScript="Platform/Development/Integration points/List View Ribbon Actions/Create Libraries">
          Internal/List View/Ribbon
        </listViewRibbon>
        <pipelineLoggedIn name="Logged In Pipeline"
                          creationScript="Platform/Development/Integration points/Logged In Pipeline/Create Libraries">
          Pipelines/LoggedIn
        </pipelineLoggedIn>
        <pipelineLoggingIn name="Logging in Pipeline"
                           creationScript="Platform/Development/Integration points/Logging in Pipeline/Create Libraries">
          Pipelines/LoggingIn
        </pipelineLoggingIn>
        <pipelineLogout name="Logout Pipeline"
                        creationScript="Platform/Development/Integration points/Logout Pipeline/Create Libraries">
          Pipelines/Logout
        </pipelineLogout>
        <toolbox name="Toolbox" creationScript="Platform/Development/Integration points/Toolbox/Create Libraries">Toolbox</toolbox>
        <startMenuReports name="Start Menu Reports"
                          creationScript="Platform/Development/Integration points/Start Menu Reports/Create Libraries">
          Reports
        </startMenuReports>
        <eventHandlers name="Event Handlers"
                       creationScript="Platform/Development/Integration points/Event Handlers/Create libraries for all events">
          Event Handlers
        </eventHandlers>
        <webAPI name="Web API" creationScript="Platform/Development/Integration points/Web API/Create libraries">Web API</webAPI>
      </integrationPoints>
      <services>
        <restfulv1 enabled="false" />
        <restfulv2 enabled="true" />
        <remoting enabled="true" />
        <client enabled="true" />
      </services>
      <commandlets>
        <add Name="Built-in Commandlets" type="*, Cognifide.PowerShell" />
      </commandlets>
      <translation>
        <ignoredFields>
          <field>__Archive date</field>
          <field>__Archive Version date</field>
          <field>__Lock</field>
          <field>__Owner</field>
          <field>__Page Level Test Set Definition</field>
          <field>__Reminder date</field>
          <field>__Reminder recipients</field>
          <field>__Reminder text</field>
          <!--field>__Security</field-->
        </ignoredFields>
      </translation>
    </powershell>
    <pipelines>
      <getLookupSourceItems>
        <processor
          patch:before="*[@type='Sitecore.Pipelines.GetLookupSourceItems.ProcessQuerySource, Sitecore.Kernel']"
          type="Cognifide.PowerShell.Integrations.Processors.ScriptedDataSource, Cognifide.PowerShell" />
      </getLookupSourceItems>
      <getRenderingDatasource>
        <processor
          patch:before="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"
          type="Cognifide.PowerShell.Integrations.Processors.ScriptedRenderingDataSourceRoots, Cognifide.PowerShell" />
      </getRenderingDatasource>
      <resolveRenderingDatasource>
        <processor
          type="Cognifide.PowerShell.Integrations.Processors.ScriptedRenderingDataSourceResolve, Cognifide.PowerShell" />
      </resolveRenderingDatasource>
      <preprocessRequest>
        <processor type="Cognifide.PowerShell.Core.Processors.RewriteUrl, Cognifide.PowerShell"
                   patch:before="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']" />
      </preprocessRequest>
      <expandInitialFieldValue>
        <processor patch:before="*[@type='Sitecore.Pipelines.ExpandInitialFieldValue.ReplaceVariables, Sitecore.Kernel']" type="Cognifide.PowerShell.Integrations.Processors.SkipPowerShellScriptItems, Cognifide.PowerShell" />
      </expandInitialFieldValue>
    </pipelines>
    <processors>
      <loggingin argsType="Sitecore.Integrations.Pipelines.LoggingIn.LoggingInArgs">
        <!-- Pipeline to run scripts while the user is logging in. -->
        <processor patch:after="processor[position()=last()]" mode="on"
                   type="Cognifide.PowerShell.Integrations.Pipelines.LoggingInScript, Cognifide.PowerShell" />
      </loggingin>
      <loggedin argsType="Sitecore.Pipelines.LoggedIn.LoggedInArgs">
        <!-- Pipeline to run scripts after the user is logged in. -->
        <processor patch:after="processor[position()=last()]" mode="on"
                   type="Cognifide.PowerShell.Integrations.Pipelines.LoggedInScript, Cognifide.PowerShell" />
      </loggedin>
      <logout argsType="Sitecore.Pipelines.Logout.LogoutArgs">
        <!-- Pipeline to run scripts when the user logs out. -->
        <processor patch:after="*[@type='Sitecore.Pipelines.Logout.CheckModified, Sitecore.Kernel']" mode="on"
                   type="Cognifide.PowerShell.Integrations.Pipelines.LogoutScript, Cognifide.PowerShell" />
      </logout>
    </processors>
    <events>
      <event name="item:saved">
        <handler type="Cognifide.PowerShell.Core.Modules.ModuleMonitor, Cognifide.PowerShell" method="OnItemSaved" />
      </event>
      <event name="item:saved:remote">
        <handler type="Cognifide.PowerShell.Core.Modules.ModuleMonitor, Cognifide.PowerShell"
                 method="OnItemSavedRemote" />
      </event>
      <event name="item:saving">
        <handler type="Cognifide.PowerShell.Core.Modules.ModuleMonitor, Cognifide.PowerShell" method="OnItemSaving" />
      </event>
    </events>
  </sitecore>
</configuration>