<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Configy" version="1.0.0" targetFramework="net452" />
  <package id="Kamsar.WebConsole" version="2.0.1" targetFramework="net452" />
  <package id="MicroCHAP" version="1.2.2.2" targetFramework="net452" />
  <package id="Rainbow" version="2.1.1" targetFramework="net452" />
  <package id="Rainbow.Core" version="2.1.1" targetFramework="net452" />
  <package id="Rainbow.Storage.Sc" version="2.1.1" targetFramework="net452" />
  <package id="Rainbow.Storage.Yaml" version="2.1.1" targetFramework="net452" />
  <package id="Sitecore.Buckets.NoReferences" version="8.2.170728" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.Client.NoReferences" version="8.2.170728" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.Linq.NoReferences" version="8.2.170728" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.NoReferences" version="8.2.170728" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.ExperienceEditor.NoReferences" version="8.2.170728" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="8.2.170728" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.Logging.NoReferences" version="8.2.170728" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.Mvc.NoReferences" version="8.2.170728" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.Update.NoReferences" version="8.2.170728" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.Zip.NoReferences" version="8.2.170728" targetFramework="net452" developmentDependency="true" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net452" />
  <package id="Unicorn" version="4.1.1" targetFramework="net452" />
  <package id="Unicorn.Core" version="4.1.1" targetFramework="net452" />
  <package id="Unicorn.Roles" version="4.1.1" targetFramework="net452" />
  <package id="Unicorn.Roles.Core" version="4.1.1" targetFramework="net452" />
</packages>