<!--
    Configuration patch installed by Sitecore Docker Tools.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <initialize>
                <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
                    <patch:delete />
                </processor>
                <processor type="Sitecore.Pipelines.Loader.ShowHistory, Sitecore.Kernel">
                    <patch:delete />
                </processor>
                <processor type="Sitecore.Analytics.Pipelines.Initialize.ShowXdbInfo, Sitecore.Analytics">
                    <patch:delete />
                </processor>
                <processor type="Sitecore.Pipelines.Loader.DumpConfigurationFiles, Sitecore.Kernel">
                    <patch:delete />
                </processor>
            </initialize>
        </pipelines>
    </sitecore>
</configuration>