<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <powershell>
      <userAccountControl>
        <gates>
          <gate name="ItemSave">
            <patch:attribute name="token">Permissive</patch:attribute>
          </gate>
          <gate name="ISE">
            <patch:attribute name="token">Permissive</patch:attribute>
          </gate>
          <gate name="Console">
            <patch:attribute name="token">Permissive</patch:attribute>
          </gate>
        </gates>
        <tokens>
          <token patch:before="*[@name='Default']" name="Permissive" expiration="00:00:00" elevationAction="Allow"/>
        </tokens>
      </userAccountControl>
      <services>
        <restfulv1>
          <patch:attribute name="enabled">true</patch:attribute>
        </restfulv1>
        <restfulv2>
          <patch:attribute name="enabled">true</patch:attribute>
          <cors allowedOrigins="*" allowCredentials="false" maxAge="3600" />
        </restfulv2>
        <remoting>
          <patch:attribute name="enabled">true</patch:attribute>
          <cors allowedOrigins="*" allowCredentials="false" maxAge="3600" />
          <authorization>
            <add Permission="Allow" IdentityType="User" Identity="sitecore\admin" />
            <add Permission="Allow" IdentityType="Role" Identity="sitecore\PowerShell Extensions Remoting" />
          </authorization>
        </remoting>
        <fileDownload>
          <patch:attribute name="enabled">true</patch:attribute>
          <authorization>
            <add Permission="Allow" IdentityType="User" Identity="sitecore\admin" />
          </authorization>
        </fileDownload>
        <fileUpload>
          <patch:attribute name="enabled">true</patch:attribute>
          <authorization>
            <add Permission="Allow" IdentityType="User" Identity="sitecore\admin" />
          </authorization>
        </fileUpload>
        <mediaDownload>
          <patch:attribute name="enabled">true</patch:attribute>
          <authorization>
            <add Permission="Allow" IdentityType="User" Identity="sitecore\admin" />
          </authorization>
        </mediaDownload>
        <mediaUpload>
          <patch:attribute name="enabled">true</patch:attribute>
          <authorization>
            <add Permission="Allow" IdentityType="User" Identity="sitecore\admin" />
          </authorization>
        </mediaUpload>
        <handleDownload>
          <patch:attribute name="enabled">true</patch:attribute>
          <authorization>
            <add Permission="Allow" IdentityType="User" Identity="sitecore\admin" />
          </authorization>
        </handleDownload>
      </services>
    </powershell>
  </sitecore>
</configuration>
