<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="ise:executefieldeditor"
               type="Cognifide.PowerShell.Sitecore8.Client.Commands.ExecuteFieldEditor, Cognifide.PowerShell.Sitecore8" />
      <command name="ise:editsettings"
               type="Cognifide.PowerShell.Sitecore8.Client.Commands.EditIseSettings,Cognifide.PowerShell.Sitecore8" />
      <command name="powershell:fieldeditor"
               type="Cognifide.PowerShell.Sitecore8.Client.Applications.FieldEditor, Cognifide.PowerShell.Sitecore8" />
    </commands>
    <typeMappings>
      <mapping name="IDateConverter" type="Cognifide.PowerShell.Sitecore8.Utility.DateConverter, Cognifide.PowerShell.Sitecore8" />
    </typeMappings>
  </sitecore>
</configuration>