body {
    overflow-x: hidden;
    overflow-y: hidden;
}

form {
    position: relative;
    z-index: 0;
}

html {
    height: 100%;
    width: 100%;
}

/* make sure it is at least as tall as the viewport */

#terminal {
    bottom: 0;
    left: 0;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1
}

#terminal * {
    font-family: inherit !important;
}

.middleArea pre, .resultsArea pre { margin: 4px; }

.console {
    background-color: #012456;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    overflow: auto;
    white-space: pre-wrap;
    width: 99%;
}

.pre {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    white-space: pre-wrap;
}

#Result {
    /* padding: 0px !important; */
    margin: 0 !important;
    padding: 3px 0 2px 3px !important;
    position: relative;
}

#ScriptResult {
    left: 0;
    overflow: auto;
    top: 0;
    width: 100%;
    bottom: 0;
}

#Result pre { 
    margin: 4px 2px !important; 
    z-index: 0;
    position: absolute;
}

.console a { color: #ffa; }

.console a:visited { color: #ffa; }

.console a:hover {
    color: #ffa;
    text-decoration: underline;
}

.console a:active {
    color: #ffa;
    text-decoration: underline;
}

.indented-wide {
    background-color: #012456;
    border: thin solid #aaa;
    color: #fff;
    font-weight: 900;
    margin: 4px 0 4px 0;
    overflow: auto;
    padding: 4px;
    width: 540px;
}

.sample { font-size: 90%; }

.consoleWrapper {
    background-color: #012456;
    border: none;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.middleArea {
    background-color: #012456;
    border: none;
    bottom: 70px;
    left: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.resultsArea {
    background-color: #012456;
    border: none;
    bottom: 17px;
    left: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.topArea {
    height: 14px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.noscrolls { overflow: hidden; }

.bottomArea {
    background-color: #012456;
    bottom: 0;
    height: 70px;
    left: 0;
    overflow: hidden;
    padding-right: 4px;
    position: absolute;
    right: 0;
}

.promoArea {
    background-color: #012456;
    bottom: 0;
    font-family: Arial, Helvetica, Garuda, sans-serif;
    font-size: 10px;
    font-weight: normal;
    height: 14px;
    /* left: 0; */
    margin-right: 16px;
    overflow: hidden;
    padding: 0 2px !important;
    position: fixed;
    right: 0;
}

.progressPromoArea {
    bottom: 0;
    font-family: Arial, Helvetica, Garuda, sans-serif;
    font-size: 10px;
    height: 14px;
    left: 0;
    margin-right: 8px;
    overflow: hidden;
    padding: 0 2px !important;
    padding-right: 4px;
    position: absolute;
    right: 0;
}

.consoleEntry {
    background-color: #012456;
    border: none;
    bottom: 0;
    float: right;
    height: 66px;
    left: 0;
    padding: 0;
    position: absolute;
    right: 4px;
    width: 100%;
}

.executeButton {
    bottom: 2px;
    display: none;
    float: left;
    position: absolute;
    right: 3px;
    width: 80px;
}

.terminal .terminal-output div a, .terminal .terminal-output div a:hover, .terminal .terminal-output div a:visited { color: yellow; }

.tip_no_hints {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #fff;
    border-radius: 3px;
    color: #1d1d1d;
    display: none;
    padding: 10px;
    position: fixed;
    z-index: 1000;
}

#working {
    bottom: 0;
    display: none;
    float: right;
    position: fixed;
    right: 0;
}

#HeaderIconContainer img {
    float: left;
    padding: 2px 16px 0 16px;
}

#All { padding: 0 8px 0 8px; }

#ProgressOverlay {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    color: black;
    background: white;
    padding: 8px 20px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 1000;
    font-family: sans-serif;
    font-weight: normal;
    opacity: .9;
}

#Progress p { margin: 0 2px; }
#Progress h2 { margin: 0; font-size: 1.5em;}

.tip_no_hints.no_hints {
    background-color: #FFEFEF;
    border: #FFEFEF 1px solid;
    color: #ff5a5a;
}

.tip_no_hints.signature {
    background-color: #FFFBE6;
    border: #F4BC01 1px solid;
    color: #5C3B00;
}
