body { overflow: hidden; }

#Content > tbody > tr > td {
    height: 100%;
    vertical-align: top;
}

#ScriptPane{
    background-color: white;
}

#ResultsSplitter + tr > td { height: 100%; }

#Databases {
    border: solid 1px ButtonShadow;
    border: 1px solid #cccccc;
    min-width: 100px;
}

#StatusBar {
    height: 20px;
    margin: 2px 5px 0 8px;
    overflow: hidden;
    padding: 0 0 3px 0;
}

.status-bar-panel {
    background-color: white;
    border: solid 1px silver;
    padding: 2px 2px;
}

.status-bar-text {
    height: 14px;
    overflow: hidden;
}

.status-bar-right {
    float: right;
    margin-left: 2px;
    width: 50px;
}

.status-bar-script {
    float: right;
    margin-left: 2px;
    width: 500px;
}

.status-bar-left {
    float: left;
    margin-right: 2px;
    padding-left: 3px;
    width: 80px;
}

.ui-dialog { z-index: 1; }

#ajax-dialog {
    border: 0;
    display: none;
    margin: 4px 4px 4px 20px;
    overflow-x: visible;
    overflow-y: auto;
    padding: 4px 4px 0 4px;
    word-wrap: break-word;
}

.codeSnippetContainerCodeContainer {
    border-bottom: solid 1px #939393;
    border-left: solid 1px #939393;
    border-right: solid 1px #939393;
    border-top: solid 1px #939393;
    clear: both;
    margin-bottom: 12px;
    position: relative;
    top: -1px;
}

.codeSnippetContainerCode {
    font-family: monospace;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 10px;
    width: auto;
}

.example-description { margin-bottom: 18px; }

.ui-widget-content { border-color: #707070; }

.ui-widget-content h1.title {
    color: #707070;
    font-family: 'Segoe UI Light', 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: 2.769em;
    font-weight: normal;
}

.ui-widget-content h1, .ui-widget-content h2 {
    -webkit-margin-after: 0.2em;
    color: #2a2a2a;
    font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.692em;
    font-weight: normal;
    margin-top: 16px;
}

.ui-widget-content h3,
.ui-widget-content h4, .ui-widget-content h5 {
    -webkit-margin-after: 0.2em;
    color: #2a2a2a;
    font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.386em;
    font-weight: normal;
    margin-top: 16px;
}

.ui-widget-content ul li {
    /* margin-bottom: 1.2em; */
    list-style-position: inside;
    list-style-type: disc;
}

.ui-widget-content table, .ui-widget-content th, .ui-widget-content td {
    border: 1px solid #bbb;
    border-collapse: collapse;
    font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin-top: 1em;
    padding: 4px;
}

#ajax-dialog a {
    color: #0095c4;
    text-decoration: underline;
}

.ui-dialog { margin-left: 40px !important; }

.ui-dialog-titlebar { display: none; }

a.ps-link {
    color: #0095c4;
    text-decoration: underline;
}

.ui-tooltip, .arrow:after {
    background: #012456;
    border: 2px solid #fcefa1;
    display: block;
    margin: 6px;
    position: absolute;
}

.ui-icon-info { background: url(/temp/IconCache/PowerShell/16x16/PowerShell8.png) center center; }

.ui-state-highlight {
    margin-bottom: 6px;
    margin-top: 20px;
    padding: 0.7em;
}

#TipOfTheSession {
    float: left;
    padding-left: 40px;
    padding-right: 30px;
    width: 400px;
}

.tip-title { margin: 1px 0 8px 0; }

#RefreshHint {
    float: right;
    margin-right: 1px;
    margin-top: 1px;
}

.ui-tooltip {
    border-radius: 20px;
    box-shadow: 0 0 7px #012456;
    color: #fcefa1;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    padding: 10px 20px;
    text-transform: uppercase;
}

#HelpClose, #ResultsClose {
    -moz-border-radius-bottomleft: 9px;
    -moz-border-radius-bottomright: 9px;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 0;
    -moz-box-shadow: inset 0 1px 0 0 #ffffff;
    background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border: 1px solid #dcdcdc;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 0;
    box-shadow: inset 0 1px 0 0 #ffffff;
    color: #777777;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    float: right;
    font-family: cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    height: 24px;
    line-height: 16px;
    margin: 1px 4px 0 0;
    padding: 7px 5px 4px 6px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-shadow: 1px 1px 0 #ffffff;
    width: 24px;
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
}

#HelpClose:hover, #ResultsClose:hover {
    background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    background-color: #e3e3e3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
}

#ResultsClose:active {
    top: 1px;
}

#ResultsSplitter {
    background: url(/sitecore%20modules/PowerShell/Assets/Splitter.png) no-repeat center;
    padding: 0 4px 0 4px;
}

#ResultsClose { 
    position: fixed;
}

#Result {
    position: fixed;
    bottom:25px;
}

#HelpClose {
    font-size: 18px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    right: 20px;
    top: 2px;
    width: 22px;
}

#HelpClose:active {
    right: 21px;
    top: 4px;
}

#ScriptName { display: none; }

.ui-state-highlight { background: white; }

.progressActivity { font-weight: bold; }

#ProgressOverlay #progressbar {
    margin-top: 8px;
    width: 100%;
}

#ProgressOverlay {
    left: 4px;
    right:44px;
    border-radius: 15px;
}

#OperationProgress {
    margin: auto;
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 30px;
    width: 90%;
}

#progressbar {
    background-color: #f7f7f7;
    border: #e3e3e3 1px solid;
    margin-top: 4px;
}

#progressbar div {
    background: #5E5E5E;
    border: 1px solid #5E5E5E/*{borderColorHighlight}*/;
    height: 20px;
}

#Tip .ui-widget-content {
    background: #fcefa1 /*{bgColorContent}*/ 50% /*{bgContentXPos}*/ 50% /*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/;
    border: 1px solid #012456 /*{borderColorContent}*/;
    color: black/*{fcContent}*/;
}

#Tip .ui-widget-content a { color: #012456 /*{fcContent}*/; }

#Tip .ui-state-hover,
#Tip .ui-widget-content .ui-state-hover,
#Tip .ui-widget-header .ui-state-hover,
#Tip .ui-state-focus,
#Tip .ui-widget-content .ui-state-focus,
#Tip .ui-widget-header .ui-state-focus {
    background: #012456 /*{bgColorHover}*/ 50% /*{bgHoverXPos}*/ 50% /*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/;
    border: 1px solid #fcefa1 /*{borderColorHover}*/;
    color: white/*{fcHover}*/;
    font-weight: normal/*{fwDefault}*/;
}

#Filter { margin-top: 8px; }

#Input_Filter {
    padding-left: 3px;
    width: 300px;
}

/* List view Page*/

.scEditorWarningIcon { margin: 0 16px 0 8px; }

.scEditorWarningTitle {
    float: left;
    width: 100%;
}

.scEditorWarningHelp {
    float: left;
    width: 100%;
}

.checked {
    background-image: url("/sitecore modules/PowerShell/Assets/checked.png");
    height: 13px;
    margin: auto;
    width: 13px;
}

.unchecked {
    background-image: url("/sitecore modules/PowerShell/Assets/unchecked.png");
    height: 13px;
    margin: auto;
    width: 13px;
}

#HeaderIconContainer {
    float: left;
    padding: 4px 10px 0 16px;
}

.iseRibbonContextPanelLabel {
    padding: 4px 0;
    text-align: right;
}

.iseRibbonContextPanel .scRibbonToolbarSmallButtons.scRibbonContextLabels { padding-right: 0; }

.iseRibbonContextPanel.disabled { color: #d6d6d6 }

#PleaseWait {
    position: fixed;
    bottom: 28px;
    right: 19px;
    text-align: right;
    float: right;
}


.breakpoint {
    position: absolute;
    background: #FFF181;
    z-index:20
  }

.ace_gutter-cell.ace_breakpoint{ 
    border-radius: 20px 0px 0px 20px; 
    box-shadow: 0px 0px 1px 1px #AB616B inset; 
    background: #AB616B;
    color: white;
}

.ace_editor.ace_autocomplete {
    width: auto !important;
    right: 100px !important;
}

.error_widget {
    font-size: smaller;
    margin: 5px !important;
    padding: 6px 50px;
}

.error_widget.ace_error {
    background-color: #FFEFEF;
    font-size: smaller;
    border: #FFEFEF 1px solid;
    color: #ff5a5a;
}

.error_widget_arrow.ace_error {
    color: #FFEFEF;
}

.error_widget.undefined {
    background-color: #FFFBE6;
    font-size: smaller;
    border: #F4BC01 1px solid;
    color: #5C3B00;
}

.error_widget_arrow.undefined {
    color: #F4BC01;
}

.varName {
    color: #FF4500;
}

.varChild {
    /* color: #FF4500; */
    padding-left: 40px;
    display: block;
    overflow: hidden;
}

.varChild2 {
    /* color: #FF4500; */
    padding-left: 60px;
    display: block;
    overflow: hidden;
}

.childName {
    color: blue;
}

.ace_tooltip {
    font-size: smaller;
}

.variableType, .undefinedVariableType {
    padding: 2px;
    text-align: center;
    margin-bottom: 5px;

}

.variableType {
    border: 1px #BCE3EE solid;
    background: #DCF1F6;
    color: #267F98;
}
.undefinedVariableType {
    border: 1px #FFD8D8 solid;
    background: #FFEFEF;
    color: #FF4646;
}

#ScriptResult * {
    font-family: inherit !important;
}

.ace_layer.ace_text-layer * {
    font-family: inherit !important;
}

#CodeEditor * {
    font-family: inherit !important;
}