body.ie { overflow: hidden; }

#Copyright {
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}

.qtip { max-width: 355px; }

#PromoLiteral { display: none; }

#Result_ { display: none; }

#Promo {
    border-top: #E3E3E3 solid 1px;
    bottom: 4px;
    color: #CBCDCB;
    display: block;
    float: right;
    left: 0;
    position: absolute;
    right: 0;
}

#Promo a { color: #ABADAB; }

.varTitle {
    clear: both;
    display: block;
    float: left;
    font-weight: bold;
    margin: 8px 0 4px 2px;
    width: 100%;
}

.varHint {
    clear: both;
    display: block;
    margin: 2px 0 4px 2px;
}

.varCheckbox {
    float: left;
    margin-top: 20px;
}

.scContentControl, .scRadioGroup {
    border: 1px solid #ccc;
    padding-left: 4px;
}

.wk .scComboboxEdit { padding-left: 2px; }

.scUserPickerEdit {
    border: solid 1px #e8e8e8 !important;
    float: left;
    left: 0;
    padding-left: 2px;
    position: relative;
    width: 90% !important;
    background-color: #f4f4f4 !important;
}

.scComboboxEdit, .scDateTimePickerContainer {
    clear: both;
    float: left;
    width: 100%;
}

.scUserPickerButton {
    float: right;
    height: 34px;
    margin-left: 4px;
    vertical-align: top;
    width: 34px;
}

.EntryGrid {
    background: #e9e9e9;
    height: 100%;
    vertical-align: top;
    white-space: nowrap;
}

.scBottomEdge, .scTopEdge { height: 1px; }

.checkBoxWrapper {
    clear: both;
    display: block;
    float: left;
    padding: 24px 0 16px 0;
}


.scTabPage { padding-right: 5px; }

.scContentControl.treePicker td { padding: 2px 0 2px 6px; }

.scContentControl.treePicker {
    height: 220px;
    padding: 4px 2px 4px 8px;
    float: left;
}

.scTreeview { margin: 4px 0 }
.psVarPromptHeaderIcon { margin: 6px 16px 4px 0 !important; }

/* 6.6 Backwards compatibility - copied from 7.2 styles */

.scWizardButtons {
    bottom: 0;
    position: absolute;
    /* height:70px; */
    text-align: right;
    white-space: nowrap;
    width: 100%;
}

.scWizardButtons > .scButton { margin-top: 10px; }

.scWizardPageContainer {
    bottom: 40px;
    position: absolute;
    top: 0;
    width: 100%;
}

.scWizardFormPadding {
    overflow: auto;
    padding: 8px;
}

.scWizardFirstPageLeftPanel, .scWizardLastPageLeftPanel {
    background: #123960;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#123960', EndColorStr='#405E7A');
    height: 100%;
    position: absolute;
    width: 164px;
}

.scWizardFirstPageContent, .scWizardLastPageContent {
    -moz-box-sizing: border-box;
    background: white;
    box-sizing: border-box;
    height: 100%;
    margin-left: 164px;
    overflow: auto;
    padding: 10px;
}

.ie8 .scWizardFormContentForOldIE, .ie9 .scWizardFormContentForOldIE {
    bottom: 0;
    position: absolute;
    top: 66px;
    width: 100%;
}

.scContentControlChecklist { border: 1px solid #ccc; }

.scDatePickerComboBox, .scTimePickerComboBox, .scCombobox.treePicker { border: 1px solid #fff; }

fieldset label { font: 8pt tahoma; }

fieldset { padding: 6px 8px 8px 10px; margin-top: 0;}

table.scContentControl.treePicker > :first-child > :first-child { height: 20px; }

.variableWrapperFixedHeight .scRadioGroup { height : 100%; }
.variableWrapperFixedHeight .treePicker { height : 100%; }
.variableWrapperFixedHeight .scContentControlChecklist { height : 100%; }
.variableWrapperFixedHeight .scRadioGroup { height : 100%; }
.variableWrapperFixedHeight textArea { height : 100%; }
.variableWrapper { float: left; width: 100%; box-sizing: border-box; padding-right: 10px; }
.rules-edit-button { float: right; margin-left: 8px !important; }
.varRule { display: flex; border: solid 0 ButtonShadow; border: solid 1px #DDD; padding: 4px 4px 10px 0px; margin-right: 8px; }
.scRule { display: none; }
.scContentControlMultilistBox { padding-bottom: 0; border: 1px solid #e3e3e3;}
.scContentControlMultilistHelp { border: 1px solid #e3e3e3;}
.scContentControlMultilistContainer { padding: 0 5px 20px 0; }
.grid-1 { width: 8.33333333%;   padding-right: 10px; }
.grid-2 { width: 16.66666667%; }
.grid-3 { width: 25%; }
.grid-4 { width: 33.33333333%; }
.grid-5 { width: 41.66666667%; }
.grid-6 { width: 50%; }
.grid-7 { width: 58.33333333%; }
.grid-8 { width: 66.66666667%; }
.grid-9 { width: 75%; }
.grid-10 { width: 83.33333333%; }
.grid-11 { width: 91.66666667%; }
.grid-12 { width: 100%; }
.clearfix { clear:both; }

.checkListWrapper {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}
.checkListActions { padding: 4px 0 4px 2px}
.scContentButton { color:#dc291e }
.validator { color: red; margin-top:4px; float: left; }
