body {
    overflow-x: hidden;
    overflow-y: hidden;
}

form {
    position: relative;
    z-index: 0;
}

html {
    height: 100%;
    width: 100%;
    /*    position:relative;
/*    overflow-y: inherit;*/
}

/* make sure it is at least as tall as the viewport */

#terminal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    z-index: -1
}

.middleArea pre, .resultsArea pre { margin: 4px; }

.console {
    background-color: #012456;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 3px 0 2px 3px;
    white-space: pre-wrap;
    width: 99%;
}

.pre {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    white-space: pre-wrap;
}

#Result {
    /* padding: 0px !important; */
    margin: 0 !important;
    padding: 3px 0 2px 3px !important;
    position: relative;
}

#ScriptResult {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#Result pre { margin: 4px 2px !important; }

.console a { color: #ffa; }

.console a:visited { color: #ffa; }

.console a:hover {
    color: #ffa;
    text-decoration: underline;
}

.console a:active {
    color: #ffa;
    text-decoration: underline;
}

.indented-wide {
    background-color: #012456;
    border: thin solid #aaa;
    color: #fff;
    font-weight: 900;
    margin: 4px 0 4px 0;
    overflow: auto;
    padding: 4px;
    width: 540px;
}

.sample { font-size: 90%; }

.consoleWrapper {
    background-color: #012456;
    border: none;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.middleArea {
    background-color: #012456;
    border: none;
    bottom: 70px;
    left: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.resultsArea {
    background-color: #012456;
    border: none;
    bottom: 17px;
    left: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.topArea {
    height: 14px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.noscrolls { overflow: hidden; }

.bottomArea {
    background-color: #012456;
    bottom: 0;
    height: 70px;
    left: 0;
    overflow: hidden;
    padding-right: 4px;
    position: absolute;
    right: 0;
}

.promoArea {
    background-color: #012456;
    bottom: 0;
    font-family: Arial, Helvetica, Garuda, sans-serif;
    font-size: 10px;
    height: 14px;
    /* left: 0; */
    margin-right: 16px;
    overflow: hidden;
    padding: 0 2px !important;
    position: fixed;
    right: 0;
}

.progressPromoArea {
    bottom: 0;
    font-family: Arial, Helvetica, Garuda, sans-serif;
    font-size: 10px;
    height: 14px;
    left: 0;
    margin-right: 8px;
    overflow: hidden;
    padding: 0 2px !important;
    padding-right: 4px;
    position: absolute;
    right: 0;
}

.consoleEntry {
    background-color: #012456;
    border: none;
    bottom: 0;
    float: right;
    height: 66px;
    left: 0;
    padding: 0;
    position: absolute;
    right: 4px;
    width: 100%;
}

.executeButton {
    bottom: 2px;
    display: none;
    float: left;
    position: absolute;
    right: 3px;
    width: 80px;
}

.terminal .terminal-output div a, .terminal .terminal-output div a:hover, .terminal .terminal-output div a:visited { color: yellow; }

.tip_no_hints {
    display: none;
    color: #1d1d1d;
    background: #fff;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#working {
    bottom: 0;
    display: none;
    float: right;
    position: fixed;
    right: 0;
}

#ProgressOverlay {
    padding-right: 30px;
    padding-left: 40px;
    margin: auto;
    margin-top: 30px;
    width: 50%;
}

#LvProgressOverlay {
    padding-right: 30px;
    padding-left: 30px;
}

#LvProgressOverlay #progressbar {
    margin-top: 8px;
    width:100%
}
#OperationProgress {
    padding-right: 30px;
    padding-left: 40px;
    margin: auto;
    margin-top: 30px;
    width: 90%;
}

#lvProgressbar {
    background-color: #E6E6E6;
    border: #CCCCCC 1px solid;
    margin-top: 4px;
}

#lvProgressbar div {
    border: 1px solid #8CCC98/*{borderColorHighlight}*/;
    background: #06B025;
    height: 20px;
}

#progressbar {
    background-color: #012456;
    border-radius: 13px; /* (height of inner div) / 2 + padding */
    padding: 3px 5px 3px 3px;
    width: 300px;
    margin: auto;
}

#progressbar div {
    border: 1px solid #fcefa1 /*{borderColorHighlight}*/;
    background: #fbf9ee;
    height: 20px;
    border-radius: 10px;
}

.ui-menu-item { font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace; }

.ui-autocomplete {
    border-top-width: 0;
    padding: 0 1px;
}

.ui-menu-item a {
    padding: .1em .1em !important;
    border: 1px solid #fcefa1;
}

#Tip .ui-widget-content {
    border: 1px solid #012456 /*{borderColorContent}*/;
    background: #fcefa1 /*{bgColorContent}*/ 50% /*{bgContentXPos}*/ 50% /*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/;
    color: black/*{fcContent}*/;
}

#Tip .ui-widget-content a { color: #012456 /*{fcContent}*/; }

#Tip .ui-state-hover,
#Tip .ui-widget-content .ui-state-hover,
#Tip .ui-widget-header .ui-state-hover,
#Tip .ui-state-focus,
#Tip .ui-widget-content .ui-state-focus,
#Tip .ui-widget-header .ui-state-focus {
    border: 1px solid #fcefa1 /*{borderColorHover}*/;
    background: #012456 /*{bgColorHover}*/ 50% /*{bgHoverXPos}*/ 50% /*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/;
    font-weight: normal/*{fwDefault}*/;
    color: white/*{fcHover}*/;
}

#Filter { margin-top: 8px; }

#Input_Filter {
    width: 300px;
    padding-left: 3px;
}

/* List view Page*/

.scEditorWarningIcon { margin: 0 16px 0 8px; }

.scEditorWarningTitle {
    width: 100%;
    float: left;
}

.scEditorWarningHelp {
    width: 100%;
    float: left;
}

.checked {
    width: 13px;
    height: 13px;
    margin: auto;
    background-image: url("/Console/Assets/checked.png");
}

.unchecked {
    width: 13px;
    height: 13px;
    margin: auto;
    background-image: url("/Console/Assets/unchecked.png");
}