body
{
    overflow-x: hidden;
    overflow-y: auto;
}

.middleArea pre, .resultsArea pre
{
    margin: 4px;
}

#ResultsSplitter
{
    border-top: black 1px dashed;
    border-bottom: black 1px dashed;
    background: url(/Console/Assets/Splitter.png) no-repeat center;
    padding: 0 4px 0 4px;
}

.console
{
    background-color: #012456;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 3px 0 2px 3px;
    white-space: pre-wrap;
    width: 99%;
}

.pre
{
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    white-space: pre-wrap;
}

#Result
{
    /* padding: 0px !important; */
    margin: 0 !important;
    padding-bottom: 2px !important;
    padding-left: 3px !important;
    padding-right: 0 !important;
    padding-top: 3px !important;
}

    #Result pre
    {
        margin: 4px 2px !important;
    }

.console a
{
    color: #ffa;
}

    .console a:visited
    {
        color: #ffa;
    }

    .console a:hover
    {
        text-decoration: underline;
    }

.indented-wide
{
    background-color: #012456;
    border: thin solid #aaa;
    color: #fff;
    font-weight: 900;
    margin: 4px 0 4px 0;
    overflow: auto;
    padding: 4px;
    width: 540px;
}

.sample
{
    font-size: 90%;
}

.consoleWrapper
{
    background-color: #012456;
    border: none;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.middleArea
{
    background-color: #012456;
    border: none;
    bottom: 70px;
    left: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.resultsArea
{
    background-color: #012456;
    border: none;
    bottom: 17px;
    left: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.topArea
{
    height: 14px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.noscrolls
{
    overflow: hidden;
}

.bottomArea
{
    background-color: #012456;
    bottom: 0;
    height: 70px;
    left: 0;
    overflow: hidden;
    padding-right: 4px;
    position: absolute;
    right: 0;
}

.promoArea
{
    background-color: #012456;
    bottom: 0;
    font-family: Arial, Helvetica, Garuda, sans-serif;
    font-size: 10px;
    height: 14px;
    left: 0;
    margin-right: 8px;
    overflow: hidden;
    padding: 0 2px !important;
    padding-right: 4px;
    position: absolute;
    right: 0;
}

.consoleEntry
{
    background-color: #012456;
    border: none;
    bottom: 0;
    float: right;
    height: 66px;
    left: 0;
    padding: 0;
    position: absolute;
    right: 4px;
    width: 100%;
}

.executeButton
{
    bottom: 2px;
    display: none;
    float: left;
    position: absolute;
    right: 3px;
    width: 80px;
}

.terminal .terminal-output div a, .terminal .terminal-output div a:hover, .terminal .terminal-output div a:visited
{
    color: yellow;
}

.tip_no_hints
{
    display: none;
    color: #1d1d1d;
    background: #fff;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#working
{
    bottom: 0;
    display: none;
    float: right;
    position: fixed;
    right: 0;
}

#StatusBar
{
    height: 20px;
    margin: 0 5px 0 8px;
    overflow: hidden;
    padding: 0 0 3px 0;
}

.status-bar-panel
{
    padding: 2px 2px;
    border: solid 1px silver;
    background-color: white;
}

.status-bar-text
{
    overflow: hidden;
}

.status-bar-pos
{
    width: 50px;
    float: right;
    margin-left: 2px;
}

#ajax-dialog
{
    display: none;
    overflow-y: auto;
    overflow-x: visible;
    word-wrap: break-word;
    white-space: pre-wrap;
    border: 0;
    padding: 4px 4px 0 4px;
    margin: 4px;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.ui-dialog-titlebar
{
    display: none;
}

.ps-help-header
{
    color: yellow;
    font-size: 2em;
}

.ps-help-command-name
{
    color: yellow;
    font-size: 3em;
    font-weight: bold;
}

.ps-help-parameter
{
    color: cyan;
    font-size: 1.5em;
}

.ps-help-firstLine
{
    color: yellow;
}

a.ps-link
{
    color: yellow;
    text-decoration: underline;
}

.ui-tooltip, .arrow:after
{
    background: #012456;
    border: 2px solid yellow;
    display: block;
    position: absolute;
    margin: 6px;
}

.ui-icon-info {
    background: url(/temp/IconCache/PowerShell/16x16/PowerShell.png) center center;
}
.ui-state-highlight {
    margin-top: 20px; 
    margin-bottom: 6px; 
    padding: 0 .7em;
}

#TipOfTheSession {
    width: 400px;
    padding-right: 30px;
    padding-left: 40px;
    float: left;
}

#RefreshHint {
    float: right;
    margin-right: 1px;
    margin-top: 1px;
}

.ui-tooltip
{
    padding: 10px 20px;
    color: yellow;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px #012456;
}