
#Copyright {
    float: left;
    margin-left: 6px;
}

.qtip {
    max-width: 355px;
}

#PromoLiteral {
    display: none;
}

#Result_ {
    display: none;
}

#Promo
{
    bottom: 4px;
    display: block;
    float: right;
    position: absolute;
    right: 0px;
    left: 0px;
    color: #CBCDCB;
    border-top: #E3E3E3 solid 1px;
}

#Promo a
{
    color: #ABADAB;
}

.varTitle {
    margin-top: 8px;
    display: block;
}

.varCheckbox {
    margin-top: 20px;
    float: left;
}

.scContentControl
{
    border: solid 1px ButtonShadow;
    padding: 2px;
}